.popup__form-item {
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__form-item::-webkit-input-placeholder {
  color: #C4C4C4;
}
.popup__form-item::-moz-placeholder {
  color: #C4C4C4;
}
.popup__form-item::-ms-input-placeholder {
  color: #C4C4C4;
}
.popup__form-item::placeholder {
  color: #C4C4C4;
} 

.popup__form-item:focus {
  border: none;
  outline-offset: 5px;
  outline-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 520px) {
  .popup__form-item {
    max-width: 238px;
  }
}