.cards {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box; 
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 1024px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    max-width: 800px;
    padding-left: 5.93%;
    padding-right: 5.93%;
  }
}

@media screen and (max-width: 680px) {
  .cards {
    max-width: 680px;
    padding-left: 5.93%;
    padding-right: 5.93%;
  }
}

@media screen and (max-width: 520px) {
  .cards {
    max-width: 520px;
    padding: 36px 19px 0;
  }
}