.profile__info-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .profile__info-subtitle {
    max-width: 282px;
    width: 100%;
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column: span 2;
  }
}