.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  grid-column: span 2;
  cursor: pointer;
  background-color: #C4C4C4;
}

@media screen and (max-width: 1024px) {
  .card__image {
    width: 100%;  
  }
}